* {
    font-family: Calibri;
}

.mainGrid {
    display: grid;
    grid-template: 
        "Header   Header    Header    Header     Header " 1fr 
        "Nav      Nav       Nav       Nav        Nav    " 0.5fr 
        ".        .         .         .          .      " 0.25fr 
        "Image    About     About     About      .      " 0.5fr 
        "Image    About     About     About      .      " 1fr 
        "Image    About     About     About      .      " 1fr 
        "Image    About     About     About      .      " 1fr 
        "Image    .         .         .          .      " 0.5fr 
        "Footer   Footer    Footer    Footer     Footer " 1fr 
        /1fr        1fr       1fr       1fr        1fr;
}


.About {
    /*Positioning of the content*/
    position: center;
    justify-content: center;
    /*Grid Area and Display Tatic*/
    display: inline-grid;
    grid-area: About;
    /*The boarder and shadow effects to bring users attention to the search form */
    border-style: groove;
    box-shadow: -2px 1px 3px 5px rgba(126, 129, 135, 0.5);

    /* Margins to keep away from edges */
    padding-left: 10px;
    padding-right: 10px;
}

.Image {
    justify-content: center;


    display: inline-grid;
    grid-area: Image;

    width: 250px;
    height: 300px;
}

.Footer {
    position: center;
    justify-content: center;
    display: inline-grid;
    grid-area: Footer;
    background-color: darkgrey;
}
